@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.btn-container {
  text-align: center;
}
.btn-primary {
  padding: 16px 20px;
  border-radius: 10px;
  background: rgb(82, 195, 3);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
}
.btn-primary:hover {
  background: rgb(66, 153, 4);
  cursor: pointer;
}

/* hero section style */
.hero {
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 919px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .hero-content {
  width: 1023px;
}
.hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 24px;
}
.hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
.card-box {
  width: 1320px;
  margin: 0 auto;
}
.card-box .card-title {
  margin: 100px 0 20px;
}
.card-box .subtitle {
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.6;
}
.card-box h2 {
  color: rgb(16, 16, 16);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}
.card-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.card-container {
  margin-top: 48px;
}
.card {
  width: 424px;
  text-align: center;
}
.card .img-box {
  width: 424px;
  text-align: center;
}
.card .img-box img {
  width: 100%;
}
.card span {
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  padding: 8px 22px;
  font-size: 20px;
  border-radius: 8px;
}
.card .card-tag {
  margin: 25px 0 25px;
}
.card h3 {
  font-size: 35px;
}
.card p {
  font-size: 20px;
  margin: 15px 0;
}
.card-footer {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 50px;
}
/* about us section styles */
.about-us {
  display: flex;
  height: 671px;
}
.about-us .about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.about-us-content h2 {
  color: rgb(16, 16, 16);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  padding: 150px 40px 0;
  margin-bottom: 40px;
}
.about-us-content p {
  color: rgb(16, 16, 16);
  font-size: 20px;
  margin-bottom: 16px;
  opacity: 0.6;

}
.about-us-content hr {
  border: 0.2px solid gray;
  width: 100%;
  opacity: 0.6;
}
.about-us-section h4 {
  color: rgb(16, 16, 16);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  opacity: 0.7;
  margin: 20px 0px;
}
.about-us .social-icon {
  margin-top: 32px;
}
.about-us .social-icon img {
  margin: 0 15px;
}
   .footer-content {
    margin-top: 100px;
    position: relative;
   }
   .footer-content .bg-img{
    opacity: 0.1;
    height: 661px;
   }
   footer .footer-text {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 45%;
    text-align: center;
   }
footer h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 40px;
}
footer h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  opacity: 0.7;
  margin: 20px 0px;
}
footer p {
  font-size: 20px;
  margin-bottom: 16px;
  opacity: 0.6;
}
.footer-social-icon{
  margin-top: 32px;
  text-align: center;

}
.footer-social-icon a{
  margin: 0 20px;
}
.footer hr{
  border: 0.2px solid gray;
  opacity: 0.6;
}
